

.projects {
  padding-top: 2rem;
  background-color: #000000;
  position: relative;

  &__title-cont {
    position: absolute;
    width: 100%;
    max-height: calc(100% - 2rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;

    h1 {
      color: #93c3be;
      font-size: 18vw;
      opacity: 0;
      z-index: 1;
      -webkit-animation: slide-portfolio 4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
              animation: slide-portfolio 4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }
  }

  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    z-index: 2;

    @media screen and (max-width: 426px) {
      flex-direction: column;
      align-items: center;
    }

    li {
      max-width: 20%;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      z-index: 2;

      @media screen and (max-width: 426px) {
        max-width: 70%;
        margin-bottom: 30px;
      }

      img {
        max-width: 100%;
      }
    }

    li:nth-child(1) {
      -webkit-animation: slide-phone 8s cubic-bezier(0.4, 0.460, 0.450, 0.940);
              animation: slide-phone 8s cubic-bezier(0.4, 0.460, 0.450, 0.940);
    }

    li:nth-child(2) {
      -webkit-animation: slide-phone 8s cubic-bezier(0.6, 0.460, 0.450, 0.940);
              animation: slide-phone 8s cubic-bezier(0.6, 0.460, 0.450, 0.940);
    }

    li:nth-child(3) {
      -webkit-animation: slide-phone 8s cubic-bezier(0.8, 0.460, 0.450, 0.940);
              animation: slide-phone 8s cubic-bezier(0.8, 0.460, 0.450, 0.940);
    }

    li:hover {
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05);
    }
    
    li:active {
      -webkit-transform: scale(1.03);
          -ms-transform: scale(1.03);
              transform: scale(1.03);
    }
  }
}

@-webkit-keyframes slide-phone {
  0% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-phone {
  0% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-portfolio {
  0% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
}

@keyframes slide-portfolio {
  0% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
}